
.search {
  display: flex;
  input {
    padding: 10px;
    border: none;
    border-radius: 50px 0px 0px 50px;
    font-size: 20px;
    font-weight: 500;
  }

  input:focus {
    outline: none;
  }

  img {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    /* padding: 10px; */
    padding: 13px;
    /* margin:3px; */
    border-left: none;
    border-radius: 0px 50px 50px 0px;
  }
}