.referral-landing {
    width: 100%;
}

.add-referral {
  gap: 0px;
  width: 100%;
  border-radius: 12.5px;
  background: #fffdfb;

  .title {
    margin: 20px 20px 0px 20px;
  }
}

.referral-form {
  display: flex;
  margin: 20px 20px 0px 20px;
  gap: 50px;
  padding: 30px;
  border-radius: 10px;
  background: #fff;
  border: 1px solid #e1e1e1;
}

.referral-form-btns {
  display: flex;
  justify-content: flex-end;
  padding: 5px 10px;
  margin: 10px;
  gap: 20px;
}

.referral-login-container {
  border: 1px solid #e1e1e1;
  opacity: 0px;
  position: relative;
  padding: 20px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 15px;
  border: 1px 0px 0px 0px;
  margin: 22px 20px 0px 20px;
}

.referral-login {
  width: 100%;
}

.referral-login-header {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: 600;
  color: #0068c2;
  font-size: 20px;
  height: 24px;
  display: flex;
  left: 5.5px;
}

.form-group1 {
  width: 100%;
}

.form-group2 {
  width: 100%;
}

.referral-login-credentials {
  display: flex;
  gap: 50px;
  width: 100%;
}