.expense-category{
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 12.5px;
    margin: 0px;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
}
.expense-category-title{
    height: 40px;
    border-bottom: 1px solid #E1E1E1
}
.expense-category-table{
    width: 100%;
    .lims-table-container{
        min-height: 0px;
    }
    .table-layout{
        width: 100%;
        margin: 20px 0px 0px 0px;
    }
    .search-field{
        margin-left: 0px;
    }
    Button{
        margin-right: 5px;
        height: 43px;
        width: 99px;
    }
    .search-option{
        padding: 0px;
    }
    .search-input{
        width: 304px;
    }
}

.expense-category-content{
    border: 1px solid #E1E1E1;
    border-radius: 10px;
    padding: 30px;
}

.expense-category-input{
    width: 50%;
}

.expense-category-buttons{
    margin-top: 21px;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}