.parent-container{
    background-color: #FFFDFB;
    /* border: 2px solid black; */
    width: 100%;
    height: 100%;
}
.expense-header{
    height: 43px;
    position: relative;
    /* top: 20px; */
    /* left: 20px; */
    padding: 0px 0px 3px 0px;
    gap: 0px;
    border: 0px 0px 1px 0px;
    border-bottom: 1px solid #E1E1E1;
    /* border: 2px solid red; */
    margin: 20px 20px 0px 20px;
}
.expense-title{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: #0068C2;
    font-size: 24px;
    display: flex;
    align-items: center;
    height: inherit;
}
.expense-container{
    border: 1px solid #E1E1E1;
    border-radius: 10px;
    margin: 20px;
    padding: 30px 32.5px 30px 32.5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.expense-inner-container1{
    /* border: 2px solid red; */
    display: flex;
    gap: 50px;
}

.expense-inner-container2{
    /* border: 2px solid green; */
}
.inner-group1{
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* border: 2px solid blue; */
    width: 100%;
    /* .dynamic-dropdown {
        display: flex;
        flex-direction: column;
        gap: 5px;
    } */
}
.inner-group2{
    /* border: 2px solid blue; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.inner-group3 {
    /* border: 2px solid black; */
    height: 99px;

}
.inner-group3{
    .input-field-textarea {
        /* border: none; */
        font-size: 18px;
        /* width: 100%; */
        /* display: flex; */
        /* align-items: center; */
        /* justify-content: center; */
        /* border: 1px solid #E1E1E1; */
        /* box-sizing: border-box; */
        /* padding-left: 20px; */
        /* height: 43px; */
        height: 73px;
        /* width: 100%; */
        position: relative;
        top: 15px;
        /* border-radius: 10px; */
        /* border-width: 1px; */
    
    }

}
/* .expense_category_dropdown{
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 2px solid;
} */
.expense_master_field{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
