
  .checkboxContainer {
    display: flex;
    justify-content: center;
  }
  
  .customCheckbox {   
    appearance: none;
    border: 2px solid var(--border-color, #000);
    width: 20px;
    height: 20px;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
  } 
 
  .checkIcon {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  