.dynamic-dropdown{
  .errorContainer{
    margin-top: 5px;
  }
}
.dropdown-container {
    position: relative;
    width: 100%;
    height: 42px; 
  }
  
  .dropdown-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 10px 20px;
    border: 1px solid rgba(225, 225, 225, 1);
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
    box-sizing: border-box;
    margin-top: 5px;
  }
  
  .placeholder {
    font-size: 18px;
  }
  
  .selected-chips {
    display: flex;
    gap: 4px; 
    flex-wrap: wrap;
  }
  
  .chip {
    width: fit-content;
    height: 20px;
    padding: 1px 20px 2px 20px;
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    border-radius: 20px 20px 20px 20px;
    gap: 5px;
    border: 1px solid #ccc; 
    background: #FFF3E6;
  }
  
  .chip-close {
    width: 16px;
    height: 16px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #fc9d33;
    padding: 3px;
    box-sizing: border-box;
  }
  
  .dropdown-arrow {
    margin-left: auto;    
    display: flex;
    align-items: center;
    transition: transform 0.2s;
  }
  
  .dropdown-arrow.open {
    rotate: 180deg;
  }
  
  .arrow {
    width: 18px;
    height: 18px;
  }
  
  .dropdown-options {
    position: absolute;
    width: 100%;
    max-height: 200px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    gap: 5px;
    scrollbar-width: thin;
    z-index: 10;
    animation: dropdownAnimation 0.3s ease-in-out;
  }
  
  .dropdown-option {
    padding: 10px 20px;
    cursor: pointer;
    box-sizing: border-box;
  }
  
  .dropdown-option:hover {
    background-color: #f0f0f0;
  }
  .dropdown-selected-option{
    color: black;
    font-size: 18px;
  }
  .dropdown-placeholder{
    font-size: 18px;
    font-weight: 400;
  }
  @keyframes dropdownAnimation {  
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .dropdown-checkbox{
    margin-right: 5px;
  }


  .dropdown-option.hovered {
    background-color: #f0f0f0 !important; 
    color: black; 
  }
  
  .disabled-dropdown-header{
    background-color: #F6F6F6;
    .dropdown-selected-option{
      color: #535353;
    }
  }