.forgot-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.forgot-inner-container {
  display: flex;
  gap: 20px;
  width: 80%;
  background: linear-gradient(180deg, rgba(251, 133, 0, 0.285) 0%, rgba(255, 255, 255, 0.5) 100%);
  border-radius: 20px;
  justify-content: center;
}

.signin-image2 {
  width: 100%;
}

.signin-image2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 0px 0px;

}

.forget-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.forgot-card {

  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 200px;
  margin-left: 170px;
}

.forgot-card h2 {
  font-size: 30px !important;
}

.form1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  width: 300px;
}

.send-button,
.go-to-home {
  width: 98%;
  padding: 12px;
  font-size: 16px;
  border-radius: 20px 20px;
  border: none;
  cursor: pointer;
  /* transition: background 0.3s ease; */
}


.button-containers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

}


.resend-button {
  display: flex;
  color: #FB8500;
  background-color: transparent;
  margin-left: 230px;
}

.send-button {
  background-color: #f7941d;
  color: white;
  margin-bottom: 10px;
}

.send-button:hover {
  background-color: #d87b0c;
}

.go-to-home {
  background-color: transparent;
  color: #333;
  border: 2px solid #ccc;
  border-color: #f7941d;
}

.go-to-home:hover {
  border-color: #f7941d;
  color: #f7941d;
}

.countdown-text {
  font-size: 1rem;
  font-weight: bold;
  color: black;
  margin-left: 170px;
}

.countdown-text span {
  color: #f7941d;

}

.info-message {
  color: red;
  font-size: 0.9rem;
  margin: 0px !important;
}