.reset-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.reset-inner-container {
  display: flex;
  gap: 20px;
  width: 80%;
  background: linear-gradient(180deg, rgba(251, 133, 0, 0.285) 0%, rgba(255, 255, 255, 0.5) 100%);
  border-radius: 20px;
  justify-content: center;

}
.signin-image-reset {
  width: 100%;
}

.signin-image-reset img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 0px 0px;

}
.reset-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.reset-card {

  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 200px;
  margin-left: 170px;
}

.reset-card h2 {
  font-size: 30px !important;
}
.reset-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  align-items: center;
 
}


.reset-button {
  padding: 10px 20px 10px 20px;
  gap: 10px;
  border-radius: 30px;
  background: #FB8500;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
}

.reset-button1 {
  padding: 10px 20px 10px 20px;
  gap: 10px;
  border-radius: 30px;
  background: #FB8500;
  width: 92%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.go-to-home1 {

  background-color: transparent;

  padding: 12px 20px;
  border: 2px solid #f48023;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  width: 92%;
  max-width: 400px;
}

.email-message {
  font-size: 14px;
  color: #333;
  margin-bottom: 15px;
}

.success-text{
color: var(--Colors-Green, #34C759);

}
.login-button{
  background: #FB8500;
  border-radius: 30px;
  padding: 10px 20px;
  margin-left: 110px;


}

/* .error-message {
  color: red;
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
} */
.password-strength {
  font-size: 12px;
  font-weight: bold;
  margin-top: 4px;
}

.weak {
  color: red;
}

.fair {
  color: orange;
}

.strong {
  color: green;
}