
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 20px;
}

.signup-inner-container {
  display: flex;
    gap: 20px;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(251, 133, 0, 0.285) 0%, rgba(255, 255, 255, 0.5) 100%);
    border-radius: 20px;
    justify-content: center;
    margin: 35.5px 0px 0px 0px;
}

.signup-image {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 0px 0px 10px;
}

.signup-form-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  justify-content: center;
}

.signup-form {

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  h2 {
    font-size: 30px;
    color: #333;
    margin-top: 0px !important;
  }
}



.main-form{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;

}

.form-group {
  flex: 1;
  .text-area-container{
    border:none;
    border-radius: 5px !important;
   
  }
  .input-field-textarea{
    border: 1px solid rgba(225, 225, 225, 1);
    height: 43px;
        position: relative;
        margin-bottom: 44px;
  }
  .input-field-textarea::placeholder{
    text-align: left;
    margin-top:20px;
  }
}

.form-input,
.signup-dropdown {
  width:80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.signup-dropdown {
  border: 2px solid #f58220 !important;
  background-color: #fff;
}

.input-labels {
  font-weight: bold;
  display: block;
  color: #333;
  padding: 5px;
}
.signup-button {
  width: 100%;
  background-color: #f28032;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.home-button-signup {
  width: 100%;
  background-color: transparent;
  color: #000000;
  border: 2px solid #f28032;
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
}
/* .signup-textarea{width: 200px;
  border-radius: 5px;
 border: 1px solid var(--border, #E1E1E1);
} */
 .error-message{
  color: red;
 }
 /* .input-label-address{
  font-weight: bold;
  margin: 0px;
 }
 .input-field-textarea-address{
  height: 40px !important;
  max-height: 100% !important;
  padding: 0px;
 } */