.LabManagement {
  background-color: white;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-radius: 12.5px;
  padding: 20px 20px;
}
.add-lab-container {
  border-bottom: 1px solid #e1e1e1;
  height: 43px;
  display: flex;
  align-items: center;
}
.add-lab-parent {
  display: flex;
  align-items: center;
  height: inherit;
  flex-basis: 25%;
}
.add-lab {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  color: #0068c2;
  font-size: 24px;
  display: flex;
  align-items: center;
  height: inherit;
}
.infos-parent {
  display: flex;
  align-items: center;
  height: inherit;
  flex-basis: 75%;
  justify-content: flex-end;
  font-size: 18px;
}
.active-tab {
  border: 1px solid #fb8500;
  background-color: #fb8500;
  padding: 5px 21px 5px 21px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}
.inactive-tab {
  border: 1px solid #fb8500;
  background-color: #fff3e6;
  padding: 5px 21px 5px 21px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}
.add-lab-form {
  display: flex;
  flex-direction: column;
  height: 714px;
  border-radius: 12.5px;
  gap: 10px;
  overflow: auto;
  margin: 10px 0px 10px 0px;
}
.all-sections {
  border: 1px solid #e1e1e1;
  border-radius: 12.5px;
  padding: 0px 20px 10px 20px;
}
.form-group-labmanagement {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 80px;
  .radio-container {
    font-size: 18px;
  }
}
.first-two-sections {
  display: flex;
  width: 100%;
}
.form-section-one {
  flex-basis: 50%;
  padding-left: 10px;
}
.form-section-two {
  flex-basis: 50%;
  flex-direction: column;
  align-items: end;
  display: flex;
  padding-right: 10px;
}
.form-section-three {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
}
.lm-upload-logo {
  width: 100%;
}
.input-field-container {
  border: 1px solid rgba(225, 225, 225, 1);
  border-radius: 10px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 21px;
}
.input-fields-root {
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.required {
  color: red;
}
.input-field {
  border: none;
  font-size: 18px;
  width: 100%;
}
.input-field:focus {
  outline: none;
}
.logo {
  padding-left: 20px;
}
.logo-text {
  color: #808080;
}
.address {
  height: 21px;
}
.equipmentButtons {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.equipmentButton {
  height: 40px;
  width: 90px;
  border-radius: 30px;
  padding: 10px 20px;
  background-color: #fb8500;
  border: none;
  font-size: 16px;
  color: white;
}
.equipments {
  display: flex;
  gap: 80px;
}
.Button {
  background-color: #fb8500;
  border: none;
  font-size: 16px;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  height: 40px;
}
.form-buttons {
  display: flex;
  justify-content: flex-end;
  padding: 5px 0px;
  gap: 10px;
}
.branch-form {
  height: 864px;
  overflow: auto;
  scrollbar-width: thin;
}
.addSuccessParent {
  height: inherit;
  width: inherit;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.addSuccess {
  height: 165px;
  width: 362px;
  border-radius: 30px;
  background-color: #e8ffee;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.addSuccessClose {
  position: relative;
  display: grid;
  place-items: center;
  cursor: pointer;
  left: 350px;
  bottom: 55px;
}
.star {
  color: red;
  font-weight: bolder;
}
.branchesInfo {
  border: 1px solid #e1e1e1;
  border-radius: 12.5px;
  padding: 20px 20px;
  margin-bottom: 50px;
}
.equipmentsInfo {
  border: 1px solid #e1e1e1;
  border-radius: 12.5px;
  padding: 20px 20px;
  margin-bottom: 50px;
}
.loginParent {
  border: 1px solid #e1e1e1;
  border-radius: 12.5px;
  padding: 10px 20px 20px;
  margin-bottom: 50px;
}
.login-child {
  width: 50%;
}
.backButton {
  background-color: #fed9b0;
  border: 1px solid #fb8500;
  font-size: 16px;
  color: #fb8500;
  padding: 10px 20px;
  border-radius: 30px;
  height: 40px;
}
.alm-radio-buttons {
  margin-top: 5px;
  padding-left: 10px;
  padding-bottom: 10px;
  display: flex;
  gap: 5px;
}
.status-radio-buttons {
  box-sizing: border-box;
  cursor: pointer;
  padding-left: 10px;
}
.alm-label {
  font-weight: 700;
  color: black !important;
}
.alm-label-branches {
  padding-left: 10px;
}
.alm-radio-button {
  cursor: pointer;
}
.lm-input-radio-buttons {
  display: flex;
  gap: 40px;
  align-items: center;
  padding-left: 10px;
}
.lm-input-radio-buttons-hb {
  display: flex;
  gap: 40px;
  align-items: center;
  padding-left: 20px;
}
.lm-phone-number {
  .phone-input-wrapper {
    border-radius: 10px;
  }
}
