.appointment-management-container{
    width: 100%;
    background-color: rgba(255, 253, 251, 1);
}
.appointment-management-parent{
    margin: 20px;
    border-bottom: 1px solid rgba(225, 225, 225, 1);
}
.appointment-management-header{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: #0068C2;
    font-size: 24px;
    display: flex;
    align-items: center;
    height: inherit;
}
.infos-parent-appointment{
    position: relative;
    top: 141px;
    left: 21px;
}