.userMaster {
    background-color: #FFFDFB;
    width: 100%;
    /* height: 110%; */
    overflow: auto;
}

.add-user-parent {
    height: 43px;
    position: relative;
    padding: 0px 0px 3px 0px;
    gap: 0px;
    border: 0px 0px 1px 0px;
    border-bottom: 1px solid #E1E1E1;
    margin: 20px 20px 0px 20px;
}

.add-user {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: #0068C2;
    font-size: 24px;
    display: flex;
    align-items: center;
    height: inherit;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* border: 1px solid yellow; */
}

.user_container1 {
    border: 1px solid #E1E1E1;
    /* border: 1px solid violet; */
    display: flex;
    flex-direction: column;
    /* height: 488px; */
    position: relative;
    border-radius: 10px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    margin: 20px 20px 0px 20px;
    gap: 8px;
}

.user_container2 {
    border: 1px solid #E1E1E1;
    opacity: 0px;
    position: relative;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 15px;
    border: 1px 0px 0px 0px;
    margin: 0px 20px 0px 20px;
}

.inner_container1 {
    width: 100%;
    display: flex;
    gap: 50px;
    /* border: 1px solid green; */
}

.inner_container2 {
    /* border: 1px solid red; */
}

.formgroup{
    width: 100% !important;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 90px;
      /* .dynamic-dropdown {
        display: flex;
        flex-direction: column;
        gap: 5px;
    } */
}
.formgroup_phone{
    width: 100% !important;
    display: flex;
    flex-direction: column;
    gap: 3px;    
}

.formgroup1 {
    width: 100%;
}

.formgroup2 {
    width: 100%;
}

.group1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px 0px 0px 33.5px;
    width: 100%;
}

.group2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px 33.5px 0px 0px;
    width: 100%;
}

.inner1,
.inner2 {
    display: flex;

}

.inner1 {

}

.inner2 {
    height: 66px;
    display: flex;
    flex-direction: column;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 166px;
    opacity: 0px;
    margin: 11px 332.5px;
}

.group3 {
    display: flex;
    flex-direction: column;
    padding: 0px 30px 0px 30px;
    gap: 15px;
}

.login_credentials {
    display: flex;
    gap: 50px;
    width: 100%;
}

.user_login {
    width: 100%;
}

.user_login_header {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: #0068C2;
    font-size: 20px;
    height: 24px;
    display: flex;
    left: 5.5px;
}

.user_buttons {
    margin: 0px 20px 20px 20px;
}

.inner_buttons {
    display: flex;
    margin: 10px 0px 10px 888px;
    gap: 15px;
    width: 171px;
    height: 43px;
    opacity: 0px;
}

.upload-photo {
    border: 1px solid #E1E1E1;
    border-radius: 10px;
    width: 993px;
    min-height: 99px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-section-three {
    margin-top: 0px !important;
}
.radio{
    margin: 10px 0px 5px 15px;
    display: flex;
    gap: 40px;
}
.status-label{
    margin-left: 10px;
}
.lims-staff-table-container{
    width: 100%;
}
.botton-divv{
    margin:0px 20px 23px 20px;
    margin-top: 10px;
}
.inner_btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    padding: 5px 0px;
}