.parent-registration {
    width: 100%;
    background-color: #FFFDFB;
    display: flex;
    border-radius: 12.5px;
    height: 100%;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

/* .title-div {
    flex-direction: column;
    border-bottom-width: #e1e1e1 1px;
    width: 100%;
    height: max-content;
} */

.set-parent-image {
    gap: 50px;
    margin-top: 195px;
    margin-bottom: 194px;
    margin-left: 113px;
    margin-right: 114px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.patient-table-container{
    min-height: 100%;
    height: fit-content;
    width: 100%;
    background-color: #FFFDFB;
    border-radius: 12.5px;
    padding: 20px 20px 20px 20px;

    .popup-discription{
        color: orange;
        font-weight: 600;
        font-size: 16px;
    }  

    .popup-content-delete{
        height: 204px;
        background: #E8FFEE;
        gap: 9px;
    }
}

.new-parent-table{
    display: flex; 
    gap: 20px;
    border: #e1e1e1 1px solid;
    border-radius:15px;
    padding:20px 34px 26px 33px;
}

.new-patient-input-group{ 
width: 50%;
display: flex;
flex-direction: column;
gap: 15px;
}

.new-table-input{
   /* gap: 15px; */
   height: 78px;
}
.new-patient-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px 0px;
}
.new-patient-register-btn{
    display: flex;
    align-items: center;
    gap: 15px;
}
.date-of-birth-icon{
position: relative;
right: 0;
}
.new-patient-add-referral{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.newpatient-add-new-referral{
color: orange;
}

.patient-search{
    position: relative;
}
.patient-search-icon{
    position: absolute;
    display: flex;
    right: 13px;
    top: 16px;
}
.patient-input{
    border: 1px solid orange;
    width: 98%;
    height: 100%;
    padding: 10px;
    border-radius: 28px;
    font-size: 22px;
    padding-left: 24px;
    outline: none;
}
.patient-no-list{
    display: grid;
    place-items: center;
    margin-top: 70px;
}
.patient-refferal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998; 
}
.patient-refferal-fields{
    width: 471px;
}

.patient-refferal-model{
    position: fixed;
    top:230px;
    left: 500px;
    padding: 20px;   
    border-radius: 30px;
    background-color: rgba(255, 253, 251, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    z-index: 999;
}
.patient-refferal-model-header{
    width: 664px;
    height: 28px;
    display: flex;
    justify-content: space-between;
  
}
.patient-referral-header{
    color: rgba(0, 104, 194, 1);
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    color: #0068C2;
    font-size: 24px;
    display: flex;
    align-items: center;
    height: inherit;
}
.patient-refferal-model-content{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.patient-add-referral-tag{
    color:orange;    
}
.patient-add-referral-tag-container{
    display: flex;
    justify-content: end;
}


.patient-list{
    display: flex;
    flex-wrap: wrap;
}
.patient-card{
    width: 50%;
    box-sizing: border-box;
}
.patient-card-child{
margin: 10px;
height: 154px;
border-radius: 30px;
position: relative;
padding: 10px 0px 0px 20px;
box-shadow: 0px 1px 2px 0px #A3A3A380;

}
.select-button{
position: absolute;
right: 25px;
bottom: 30px;
}

.patient-list .patient-no-list-one{
    display: grid;
    place-items: center;
    margin-top: 70px;
    width: 100%;
    height: 100%;
}
.patient-name{
    color: #0B1722;
    font-size: 24px;
    font-weight: 400px;
}
.patient-id{
    font-weight: 500px;
    font-size: 16px;
}