 .add-master-container {
     background-color: #FFFFFF;
     border-radius: 0.5rem;
     box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
     margin: 10px;
     height: inherit;
     width: 100%;

     .title {
         margin: 20px 20px 0px 20px;
     }
 }

 .input-inner-div {
     margin: 20px 20px 0px 20px;
     border: 1px solid #E1E1E1;
     border-radius: 10px;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 20px 50px;
     padding: 30px;
     display: flex;
     flex-direction: column;
 }

 .button-div-container {
     height: 80px;
     margin: 20px 15px 0px 25px;
     display: flex;
     justify-content: flex-end;
     gap: 15px;
 }

 .limsMasterTable {
     width: 100%;
 }

 .input-inner-div-child {
     width: 50%;
 }