.DoctorMaster {
    width: 100%;
}

.add-doctor-container {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.add-doctorTitle {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    color: #0068C2;
    font-size: 24px !important;
    display: flex;
    align-items: center;
    height: 40px;
    border-bottom: 1px solid #E1E1E1;
    width: 100%;
    line-height: 32px;
}

.add-doctorForm {
    border: 1px solid #E1E1E1;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.add-doctorFormSection1 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.add-doctorFormSection1Left,
.add-doctorFormSection1Right {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.add-doctorFormSection1Left .input-field,
.add-doctorFormSection1Right .input-field {
    width: 100%;
}

.add-doctorFormLogin {
    display: flex;
    flex-direction: column;
    border: 1px solid #E1E1E1;
    border-radius: 10px;
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
    gap: 15px;
}

.loginTitleText {
    font-weight: 600;
    font-size: 20px;
    line-height: 24.2px;
    letter-spacing: 0%;
    color: var(--Heading-color, #0068C2);
}

.loginContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.loginContainer span {
    width: 100%;
}

.DoctorCalenderIcon {
    cursor: pointer;
    height: 24px;
    width: 24px;
    position: absolute;
    filter: invert(51%) sepia(93%) saturate(1536%) hue-rotate(345deg) brightness(97%) contrast(91%);
    top: 38px;
    left: 90%;
}

.add-doctorFormSection2 {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding-top: 20px;
    border-top: 1px solid #E1E1E1;
}

.add-doctorFormSection2>* {
    flex: 1 1 calc(50% - 50px);
    box-sizing: border-box;
}

.btn-div {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-top: 20px;
}

.available-time-container {
    height: 100px;
    position: relative;
}

.no-scroll {
    overflow: hidden;
}

.scroll-auto {
    overflow: auto;
}