.button-container{
    display: flex;
    margin: 20px;
    justify-content: flex-end;
}
.title-text{
    font-size: 32px;
    font-weight: 400;
    color: #0068C2;
    border-bottom: 1px solid #E1E1E1;
    margin-top:0px;
}
.text-danger{
    color: red;
}
.mode-field{
    border: 1px solid #E1E1E1;
    border-radius: 10px;
    height: 80px;
    margin: 20px 15px 0px 25px;
    padding: 30px 30px 0px 30px;
    label{
        font-size:16px;
        font-weight: 600;
        color: #323232;
        line-height: 20px;
    }
}

.button-save{
    background-color: #FB8500;
    font-size: 16px;
    color: #FFF3E6;
    padding: 10px 20px;
    border-radius: 30px;
    height: 40px;
    font-weight:500;
    margin:5px;
}

.button-back{
    background-color: #FFF3E6;
    border: 1px solid  #E47900; 
    font-size: 16px;
    color: #E47900;
    padding: 10px 20px;
    border-radius: 30px;
    height: 40px;
    font-weight:500;
    margin:5px;
}

.button-container{
    display: flex;
    margin: 20px;
    justify-content: flex-end;
}
.title-text{
    font-size: 32px;
    font-weight: 400;
    color: #0068C2;
    border-bottom: 1px solid #E1E1E1;
    margin-top:0px;
}
.text-danger{
    color: red;
}
.mode-field{
    border: 1px solid #E1E1E1;
    border-radius: 10px;
    height: 80px;
    margin: 20px 15px 0px 25px;
    padding: 30px 30px 0px 30px;
    label{
        font-size:16px;
        font-weight: 600;
        color: #323232;
        line-height: 20px;
    }
}

.button-save{
    background-color: #FB8500;
    font-size: 16px;
    color: #FFF3E6;
    padding: 10px 20px;
    border-radius: 30px;
    height: 40px;
    font-weight:500;
    margin:5px;
    margin-right: 35px;
}

.button-back{
    background-color: #FFF3E6;
    border: 1px solid  #E47900; 
    font-size: 16px;
    color: #E47900;
    padding: 10px 20px;
    border-radius: 30px;
    height: 40px;
    font-weight:500;
    margin:5px;
}
.lims-payment-mode{
    width: 100%;
}
.master-container{
    width: 100%;
}
