.sample-reception{
    width: 100%;
    height: 100%;
    border-radius: 12.5px;
    background-color: #FFFDFB;
    padding: 20px;
    overflow: auto;
}
.sample-receiption-search{
    height: 40px;
    padding: 8px 0px;
    display: flex;
    align-items: center;
}
.sample-receiption-search-one{
    width: 50%;
}
.sample-receiption-search-two{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    .dropdown-header{
        width: 180px;
    }
}
.sample-reception-input{
    height: 36px;
    width: 494px;
    gap: 4px;
    padding: 4px 10px 4px 24px;
    display: flex;
    align-items: center;
    border: 1px solid #FCAD54;
    border-radius: 28px;
    font-size: 18px;
    font-weight: 500;
    outline: none;
}
.sample-reception-table{
    .btn-primary{
        text-wrap: nowrap;
    }
}