.discount-table{
    width: 100%;
    height: 100%;
}
.discount {
    width: 100%;
    background-color: white;
    border-radius: 12.5px;
    padding: 20px; 
    box-sizing: border-box;
    overflow: auto;
    scrollbar-width: thin;
}

.discount-container{
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 10px 0px;
    border: 1px solid #E1E1E1;
    padding: 20px;
}

.discount-input {
    flex-basis: 50%;
}

.button-container-discount {
    display: flex;
    justify-content: flex-end;
    gap: 10px; 
    margin-top: 20px;
}

.discount-heading{
    height: 40px;   
    border-bottom: 1px solid #E1E1E1;
}
.discount-title{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    color: #0068C2;
    font-size: 32px;
    display: flex;
    align-items: center;    
    height: inherit;
}