.phlebotmist-master-container {
    background-color: #FFFDFB;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 12.5px;

}

.phlebotmist-master-table {
    width: 100%;
    height: 100%;
}

.phlebotmist-master-form {
    display: flex;
    /* border: 1px solid red; */
    width: 100%;
    border: 1px solid #E1E1E1;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 15px;
    gap: 50px;
    margin-bottom: 26px;

}

.phlebotmist-form-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;

}

.phlebotmist-form-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.customdate {
    width: 100%;
    padding: 9px 20px;
    box-sizing: border-box;
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background-color: #FFFFFF;
    color: #808080;
    font-size: 18px;
    font-weight: 400;


}

.custom-time {
    width: 100%;
    padding: 9px 20px;
    box-sizing: border-box;
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background-color: #FFFFFF;
    color: #808080;
    font-size: 18px;
    font-weight: 400;
}

.phlebotmist-master-form-2 {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: 1px solid #E1E1E1;
    border-radius: 15px;
    width: 100%;
    box-sizing: border-box;
    gap: 15px;

}

.login-div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 50px;

}

.login-div1 {
    width: 100%;
}

.login-div2 {
    width: 100%;
}

.login-text {
    font-weight: 600;
    font-size: 20px;
    line-height: 24.2px;
    letter-spacing: 0%;
    color: var(--Heading-color, #0068C2);


}

.phlebotmist-button-div {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    padding: 10px 0px;
}

.label {
    font-weight: 700;
    color: black !important;
    padding-left: 10px;
    display: block;
}

.time-pickers {
    display: flex;
    width: 100%;
    flex-direction: column;
}


.model-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;



}

.model-content {
    background: #E8FFEE;
    min-width: 677px;

    padding: 30px;
    border-radius: 30px;


}

.model-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 15px;
}

.model-text-area {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.model-inputs {
    width: 100%;

    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 18px;

}

.text-child {
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    letter-spacing: 0%;
    text-align: justify;

}

.text-head {


    font-weight: 700;
    font-size: 20px;
    line-height: 24.2px;
    letter-spacing: 0%;
    text-align: justify;


}

.working-hours {
    display: flex;
    align-items: center;
    border-radius: 8px;
    height: 31px;
}

.day-label {
    font-weight: bold;
    color: #333;
}


.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 18px;

}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;

}


.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 18px;
    transition: 0.3s;
}

.slider:before {
    content: "";
    position: absolute;
    height: 14px;  /* Adjust for better centering */
    width: 14px;
    left: 2px; /* Small padding */
    top: 50%;
    transform: translateY(-50%); /* Centers the circle vertically */
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
}

input:checked + .slider {
    background: #00000073;
     background-color: #75C013;

}

input:checked + .slider:before {
    transform: translate(22px, -50%); /* Moves right while staying centered */
}

/* Time inputs */
input[type="time"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.to-text {
    color: #666;
    font-weight: bold;
}

.label-data {

    width: 25%;
}


.togle-data {
    /* border: 1px solid yellow; */
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.time-data {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 34px;

    border-radius: 5px;

    /* Light green background */
}

.img-close-pm {
    display: flex;
    right: 10px;
    justify-content: flex-end;

}

.phlebotmist-picker {

    position: relative;
}

.phlebotmist-cal-icon {
    position: absolute;
    right: 21px;
    top: 38px;

}