.add-field{
    border: 1px solid #E1E1E1;
    border-radius: 10px;
    height: 238px;
    margin: 20px 15px 0px 25px;
    padding: 15px 30px 0px 30px;
    label{
        font-size:16px;
        font-weight: 600;
        color: #323232;
        line-height: 35px;
    }
}
.master-container{
    width:100%;
}
.button-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.button-save{
    margin-right:35px;
}

   