.package-landing {
  width: 100%;
}

.addPackage {
  gap: 0px;
  width: 100%;
  border-radius: 12.5px;
  padding: 0px 15px;
  opacity: 0px;
  background: #fffdfb;
}

.tittleAdd {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  color: #0068c2;
  font-size: 24px !important;
  display: flex;
  align-items: center;
  width: 188px;
  height: 40px;
  gap: 0px;
  opacity: 0px;
  border-bottom: 1px solid #e1e1e1;
  font-family: var(--HeadlineLargeFont);
  font-size: var(--HeadlineLargeSize);
  width: 100%;
  line-height: var(--HeadlineLargeLineHeight);
  letter-spacing: var(--HeadlineLargeTracking);
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.Package-form-group {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  gap: 30px;
  left: 20px;
  right: 20px;
  padding: 20px 20px;
  opacity: 0px;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  width: 97%;
  justify-content: space-evenly;
}
.input-fields-root {
  width: 100%;
}
.form-btns {
  display: flex;
  justify-content: flex-end;
  padding: 5px 10px;
  margin: 10px;
  gap: 20px;
  margin-top: 450px;
}
.forViewAll {
  position: relative;
}
.viewAll {
  position: absolute;
  color: #fb8500;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 40px;
  right: 50px;
  z-index: 0;
  cursor: pointer;
}

.packageViewAll {
  background-color: #fff;
  opacity: 1;
  border: 1px solid #ddd;
  border-radius: 30px;
  padding: 16px;
  padding-top: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  overflow-y: auto;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 25px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.packageViewAll .chipIn {
  background-color: #fff3e6;
  color: #000;
  padding: 3px 20px;
  border-radius: 20px;
  font-size: 14px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: none;
  border: none;
  color: #ddd;
  font-size: 24px;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: #000;
  }
}

.page-content {
  filter: none;
  transition: filter 0.3s ease;
}

.page-content.blurred {
  filter: blur(5px);
  pointer-events: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
}
.packageViewAll-title {
  display: flex;
  font-size: 15px;
  margin: 0px;
  font-family: var(--LabelMediumFont);
  font-size: var(--LabelMediumSize);
  color: #0068c2;
}
