.organization-master {
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 12.5px;
  margin: 0px;
  padding: 20px 20px 0px 20px;
  box-sizing: border-box;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.organization-master-title {
  height: 40px;
  border-bottom: 1px solid #e1e1e1;
}
.organization-master-fields {
  height: 100px;
}

.organization-master-table {
  width: 100%;

  .lims-table-container {
    min-height: 0px;
  }

  .table-layout {
    width: 100%;
    margin: 20px 0px 0px 0px;
  }

  .search-field {
    margin-left: 0px;
  }

  Button {
    margin-right: 5px;
    height: 43px;
    width: 99px;
  }

  .search-option {
    padding: 0px;
  }

  .search-input {
    width: 304px;
  }
}

.organization-master-content {
  overflow: auto;
  height: 100%;
  padding-right: 3px;
}

.omc-intro {
  min-height: 358px;
  border: 1px solid #e1e1e1;
  border-radius: 12.5px;
  padding: 20px 33px 0px;
  margin-bottom: 20px;
  display: flex;
  gap: 50px;
  overflow: auto;
}

.omci-one,
.omci-two {
  width: 50%;
  display: flex;
  flex-direction: column;
  .phone-input-wrapper {
    border-radius: 10px;
  }
}

.om-subtitles {
  color: rgba(0, 104, 194, 1);
  font-weight: 600;
  font-size: 20px;
  margin: 0;
}

.omc-payment-details {
  border: 1px solid #e1e1e1;
  border-radius: 12.5px;
  padding: 20px 33px 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.omcp-one,
.omcp-two {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.omcp-three {
  padding-right: 50px;
}

.ompct-child {
  width: 50%;
}

.omcpoc-child {
  flex: 1;
}

.omcpo-content,
.omcpt-content {
  display: flex;
  gap: 50px;
}

.omcpo-button,
.omcpt-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}

.omc-invoice-generation {
  height: 173px;
  border: 1px solid #e1e1e1;
  border-radius: 12.5px;
  padding: 20px 33px 0px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.omcig-checkbox {
  font-weight: 600;
  font-size: 16px;
}

.omcig-custom {
  display: flex;
  align-items: center;
  gap: 15px;
}

.omcig-custom-input {
  height: 45px;
  width: 50%;
}

.omc-patient-configuration {
  height: 134px;
  border: 1px solid #e1e1e1;
  border-radius: 12.5px;
  padding: 20px 33px 0px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.omc-report-access {
  height: 362px;
  border: 1px solid #e1e1e1;
  border-radius: 12.5px;
  padding: 20px 33px 0px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.omcra-header,
.omcra-footer {
  .file-upload-container {
    height: 73px;
    margin: 0px;
    padding: 0px;
  }
}

.omc-bill-access {
  height: 362px;
  border: 1px solid #e1e1e1;
  border-radius: 12.5px;
  padding: 20px 33px 0px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.omc-login-credentials {
  height: 145px;
  border: 1px solid #e1e1e1;
  border-radius: 12.5px;
  padding: 20px 33px 0px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.omclc-content {
  display: flex;
  align-items: center;
  gap: 57px;
}

.omclc-child {
  flex: 1;
}

.omc-buttons {
  height: 63px;
  border-radius: 12.5px;
  display: flex;
  align-items: end;
  justify-content: flex-end;
  gap: 15px;
  margin-bottom: 10px;
}
