/* Container */
.profile-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    /* height: 100vh; */
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    /* margin: 0px 20px; */
    box-sizing: border-box;
    width: 100%;
  }
  
  /* Title */
  .profile-section-title {
    font-size: 26px !important;
    margin: 15px 0px;
  }
  
  /* Card Styles */
  .card {
    /* width: 90%; */
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    border-radius: 30px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
    margin-bottom: 15px;
  }
  
  /* Profile Section */
  .profile {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .profile-pic {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 2px solid orange;
  }
  
  .profile-info {
    flex-grow: 1;
    margin-left: 15px;
    display: flex;
    justify-content: center;
  }
  
  .profile-info h3 {
    font-size: 35px;
    font-weight: 600;
    margin: 0;
  }

  .profile-info p {
    font-size: 20px;
    font-weight: 500;
    color: rgba(128, 128, 128, 1);    
    margin: 0;
    padding-top: 10px;
  }

  .edit-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    background: rgba(255, 243, 230, 1);
    color: rgba(251, 133, 0, 1);
    border: 1px solid rgba(228, 121, 0, 1);
    padding: 6px 15px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    outline: none;
    transition: 0.3s ease-in-out;
    gap: 10px;
  }
  
  .edit-btn:hover {
    background: rgba(251, 133, 0, 0.5);
  }
  
  /* .edit-icon {
    font-size: 16px;
  } */

  .password-container {
    width: 40%;
  }
  
  /* Password Section */
  /* .password-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
  } */
  
  /* .password-section input {
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 5px;
    flex-grow: 1;
    margin-right: 10px;
  } */
  
.image-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image-container span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img {
  background-color: #E3E3E3;
}

.profile-input-fields-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-evenly;
  width: 100%;
  margin-left: 30px;
}

.btn-bottom {
  display: flex;
  align-items: end;
}

.edit-btn-container {
  padding: 15px;
}